name: StarOfMonthGrid
on:
  workflow_dispatch:
    inputs:
      filename:
        description: "Artifact name"
        required: true
      stars:
        description: "A list of stars with the name, image, and achievements"
        required: true

jobs:
  render:
    name: Render
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-node@main
      - run: sudo apt update
      - run: sudo apt install ffmpeg
      - run: yarn
      - run: echo $WORKFLOW_INPUT > input-props.json
        env:
          WORKFLOW_INPUT: ${{ toJson(github.event.inputs) }}
      - run: yarn build ${{ github.workflow }} --props="./input-props.json 475"
      - uses: actions/upload-artifact@v3.1.1
        with:
          name: ${{ github.event.inputs.filename }}
          path: out/
